/* ********** Custom Properties ********** */
:root {
  --first-color: rgba(20, 25, 45, 0.75);
  --second-color: #fff;
  --font: "Raleway", sans-serif;
  --max-width: 75rem;
  --header-height: 6rem;
}
/* ********** Reset ********** */
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  /* el body tiene unos margenes de 8px por defecto, por esta razon lo reseteamos a 0 */
  margin: 0;
  /* para eliminar la barra de desplazamiento horizontal que generan la imagenes grandes*/
  overflow-x: hidden;
  color: var(--text-color);
}

a {
  color: var(--link-color);
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

/* hack para hacer responsive las imagenes */
img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}
/*components*/

/*button*/
.btn {
  width: 12.5rem;
  height: 3.2rem;
  font-size: 2.2rem;
  cursor: pointer;
  border: none;
  outline: none;
  background: var(--first-color);
  color: var(--second-color);
  position: relative;
  transition: all 0.5s;
  z-index: 1;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0.3px;
  height: 100%;
  background-color: var(--second-color);
  z-index: -1;
  transition: all 0.5s;
}

.btn:hover::before {
  width: 100%;
}

.btn:hover {
  color: var(--first-color);
}

.btn:active:before {
  background: var(--second-color);
}
