* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  } 

  .Detail__container {
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    grid-template-rows: 60px 1fr 1fr 1fr  1fr 1fr ;
    grid-template-columns: 1fr 1fr;
    width: 80vw;
    height: 92vh;
    margin-top: 10px;
    margin-left:auto;
    margin-right: 10px;
    background: rgb(34,34,129);
    background: linear-gradient(90deg, rgba(34,34,129,1) 5%, rgba(0,2,36,1) 22%, rgba(0,0,0,1) 71%);
    color:white;
    border: solid 2px white;
    
  }
  .Detail__title {
    
    grid-column: 1/3 ;
  }

  .Detail__img {
    
    grid-column: 1/2;
    grid-row: 2/7;
    object-fit: cover;
    height: 100%;
    width: 100%;
  } 

  .Detail__description {
   
    grid-row: 2/3;
  }
  .Detail__genres {
   
    display: flex;
    align-items: center;

  }
  
  .Detail__released {
    padding: auto;
    display: flex;
    align-items: center;
  }


  /****************************************************************************/
  .botton {
    width: 200px;
    height: 50px;
    font-size: 35px;
    cursor: pointer;
    border: none;
    outline: none;
    background: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 60;
    position: relative;
    transition: all 0.5s;
    z-index: 1;
    margin-top: 20px;
    margin-left: 20px;
    border:solid 2px black;
    border-radius: 5px;
   }
   
   .botton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: white;
    z-index: -1;
    transition: all 0.5s;
    border-radius: 5px;
   }
   
   .botton:hover::before {
    width: 100%;
   }
   
   .botton:hover {
    color: black;
   }
   
   .botton:active:before {
    background: #b9b9b9;
   }
   .section{
    background: rgb(34,34,129);
background: linear-gradient(90deg, rgba(34,34,129,1) 5%, rgba(0,2,36,1) 22%, rgba(0,0,0,1) 71%);
   }
   