* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  } 

.Aside__container { 
    height: 40px;
    width: 100vw;
    background-color: red;
    background-size: cover ;
    background-position: center top;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }